<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<!-- Console -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
<!-- 
<param name="ConversionPattern" value="%-5p [%d{ISO8601}] %-26.26c{1} - %m\n" />
-->
<param name="ConversionPattern" value="%-5p %m\n" />
<!-- 
     <param name="ConversionPattern" value="%style{%date{DEFAULT}}{yellow}
        %highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green} %message" />
-->
		</layout>
	</appender>
 
 	<logger name="lla.privat.atarixl">
		<level value="info" />
	</logger>

	<!-- Alles: WARN -->
	<root>
		<level value="warn" />
		<appender-ref ref="stdout" />
	</root>
</log4j:configuration>
